<div class="container">
  <%= link_to "Back", lists_path, class: "btn btn-outline-secondary" %>
  <div class="center list">

    <h1 class="jumbotron-heading"><%= @list.title %></h1>
    <p class="lead text-muted"><%= @list.description %></p>
    <div class="d-flex justify-content-between align-item-center">
      <%= link_to "New wish", new_list_wish_path(@list), class: "btn btn-primary" %>
      <div>
        <%= link_to "Edit list", edit_list_path(@list), class: "btn btn-primary btn-warning" %>
        <%= link_to "Delete list", list_path(@list), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-danger" %>
      </div>
    </div>
  </div>
</div>

<div class="container center">
  <div class="row">
    <% @wishes.each do |wish| %>
      <div class="jumbotron wish">
        <h1 class="display-4"><%= wish.title %></h1>
        <p class="lead"><%= wish.price %>$</p>
        <hr class="my-4">
        <p> <%= wish.comment %> </p>
        <p class="lead">
          <%= link_to "Edit", edit_list_wish_path(wish.list, wish), class: "btn btn-primary btn-warning" %>
          <%= link_to "Delete", list_wish_path(wish.list, wish), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-danger" %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @wishes, theme: 'twitter-bootstrap-4',
             pagination_class: "pagination-sm",
             nav_class: "d-inline-b" %>